// 覆盖element-ui样式
.el-container {
  height: 100% !important;
  justify-content: center;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar::-moz-scrollbar {
  display: none;
}

.hide-scrollbar::-ms-scrollbar {
  display: none;
}

.el-form--inline {
  padding: 30px 30px 12px;
}

.el-loading-mask.is-fullscreen .el-loading-spinner {
  font-size: 50px;
}

.el-loading-mask.is-fullscreen .el-loading-spinner i, .el-loading-mask.is-fullscreen .el-loading-spinner .el-loading-text {
  color: #fff;
}

.el-table th.gutter {
  display: table-cell !important;
}

.el-select-dropdown.el-popper {
  max-width: 500px;
}

.el-tooltip__popper {
  max-width: 500px;
  line-height: 20px;
}

.el-month-table .current .cell {
  color: #fff !important;
  background-color: #409EFF;
}

.distribute-cascader .el-cascader-menu__wrap {
  height: 330px;
}

/* 覆盖element-ui样式 end */
/* 通用样式 */
.jb-content {
  background: #fff;
  padding: 20px 30px;
  box-shadow: 0 0 15px 3px #ddd;
}

.pointer {
  cursor: pointer;
}

.c409EFF {
  color: #409EFF;
}

.border-beee {
  border-bottom: 1px solid #ccc;
}

.bordereee {
  border: 1px solid #ccc;
}

.bgf7f7f7 {
  background: #f7f7f7;
}

.cred {
  color: red;
}

.cblue {
  color: #409EFF;
}

.widthfull {
  width: 100% !important;
}

.heightfull {
  height: 100% !important;
}

.width50 {
  width: 50px !important;
}

.width60 {
  width: 60px !important;
}

.width70 {
  width: 70px !important;
}

.width80 {
  width: 80px !important;
}

.width100 {
  width: 100px !important;
}

.width120 {
  width: 120px !important;
}

.width150 {
  width: 150px !important;
}

.width200 {
  width: 200px !important;
}

.width250 {
  width: 250px !important;
}

.width300 {
  width: 300px !important;
}

.width400 {
  width: 400px !important;
}

.width500 {
  width: 500px !important;
}

.white-space-pre {
  white-space: pre !important;
}

/* 通用样式end */
/* 通用动画 */
.list-complete-item {
  transition: all 1s;
  display: inline-block;
}

.list-complete-enter, .list-complete-leave-to {
  opacity: 0;
}

.list-complete-leave-active {
  position: absolute !important;
}

/* 通用动画end */
/* 欢迎页 */
.welcome-wrap {
  position: relative;
  background-color: #fff;
  padding: 15px;
  overflow: hidden;

  .junbo-logo {
    position: absolute;
    top: 8%;
    left: 100px;
  }

  .junbo-value {
    position: absolute;
    top: 8%;
    right: 100px;
    color: #fff;
    font-size: 24px;
    letter-spacing: 3px;
  }

  .welcome-text {
    position: absolute;
    top: 36%;
    left: 200px;
    color: #fff;
    letter-spacing: 5px;
    font-size: 50px
  }
}

/* 欢迎页 end */